body {
    background: linear-gradient(to right, #9AD0EC, #A267AC);
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
 
}

input[type="text"]::placeholder{
    text-align: center;
    color: green;
}


/* .container {
    display: grid;
    justify-content: center;
    align-items: center;
} */

